<launch>
	
    <node pkg="applehand1_slip_detection" name="a1_filter" type="accel_filter_ros.py">
		<remap from="imu_topic" to="applehand/finger1/imu" />
		<remap from="filtered_accelerometer_topic" to="az1_filt" />
	</node>

    <node pkg="applehand1_slip_detection" name="g1_filter" type="gyro_filter_ros.py">
		<remap from="imu_topic" to="applehand/finger1/imu" />
		<remap from="filtered_gyroscope_topic" to="gx1_filt" />
	</node>

    <node pkg="applehand1_slip_detection" name="g1_var_calc" type="windowed_variance_ros.py">
		<remap from="signal_topic" to="gx1_filt" />
		<remap from="variance_topic" to="gx1_var" />
	</node>

        
    <node pkg="applehand1_slip_detection" name="a1_var_calc" type="windowed_variance_ros.py">
		<remap from="signal_topic" to="az1_filt" />
		<remap from="variance_topic" to="az1_var" />
	</node>

    <node pkg="applehand1_slip_detection" name="feature_creator" type="create_features.py">
	</node>

</launch>